article.events {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  min-height: 30vh;
}
article.events .slides {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 73vw;
}
article.events .slides a {
  width: 336px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  display: block;
  position: relative;
  border: #fff 1px solid;
}
article.events .slides a:hover {
  border: 1px black solid;
}
article.events .slides a div.type {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: #d9472a;
  color: #fff;
  font-family: Open Sans SemiCondensed;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  height: fit-content;
  padding: 3px 7px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.events .slides a img {
  width: 336px;
  height: 220px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
}
article.events .slides a .content-slide {
  width: 336px;
  margin-top: 0;
  border-radius: 0 0 8px 8px;
  background-color: white;
  padding: 10px 17px 15px 17px;
  position: relative;
  top: -3px;
}
article.events .slides a .content-slide .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.events .slides a .content-slide .head .date {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fc0;
  color: #000;
  font-family: Open Sans SemiCondensed;
  font-size: 25.6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: fit-content;
  height: fit-content;
  padding: 1px 7px;
}
article.events .slides a .content-slide .head .price {
  color: #000;
  text-align: right;
  font-family: Open Sans SemiCondensed;
  font-size: 25.6px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
article.events .slides a .content-slide h3 {
  margin: 10px 0 20px 0;
  color: #000;
  font-family: Zhizn;
  font-size: 25.6px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  min-height: 60px;
}
article.events .slides a .content-slide .description p {
  color: #000;
  font-family: Open Sans SemiCondensed;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
